{% extends 'index.html' %}


{% block body %}


<div id="auth-popup" class="auth-popup">
    <div class="auth-popup-content">
        <span class="close-btn">&times;</span>
        <!-- Tabs Header -->
        <div class="auth-tabs">
            <div class="tab active" data-tab="signup">Sign Up</div>
            <div class="tab" data-tab="login">Login</div>
        </div>
        <!-- Underline for active tab -->
        <div class="tab-underline"></div>

        <!-- Sign Up Content -->
        <div class="tab-content active" id="signup-tab">
            <form id="signupForm" class="auth-form">
                <div class="form-group">
                    <label for="signupEmail">Phone or Email</label>
                    <input type="text" id="signupEmail" name="signupEmail" required>
                </div>
                <div class="form-group password-group">
                    <label for="signupPassword">Password</label>
                    <input type="password" id="signupPassword" name="signupPassword" required>
                    <i class="toggle-password fas fa-eye" data-target="signupPassword"></i>
                </div>
                <button type="submit" class="cta-btn">Sign Up</button>
            </form>
            <div class="social-login">
                <button class="social-btn google-btn">
                    <i class="fab fa-google"></i> Sign Up with Google
                </button>
                <button class="social-btn facebook-btn">
                    <i class="fab fa-facebook-f"></i> Sign Up with Facebook
                </button>
            </div>
        </div>

        <!-- Login Content -->
        <div class="tab-content" id="login-tab">
            <form id="loginForm" class="auth-form">
                <div class="form-group">
                    <label for="loginEmail">Phone or Email</label>
                    <input type="text" id="loginEmail" name="loginEmail" required>
                </div>
                <div class="form-group password-group">
                    <label for="loginPassword">Password</label>
                    <input type="password" id="loginPassword" name="loginPassword" required>
                    <i class="toggle-password fas fa-eye" data-target="loginPassword"></i>
                </div>
                <a href="#" class="forgot-password">Forgot Password?</a>
                <button type="submit" class="cta-btn">Login</button>
            </form>
            <div class="social-login">
                <button class="social-btn google-btn">
                    <i class="fab fa-google"></i> Login with Google
                </button>
                <button class="social-btn facebook-btn">
                    <i class="fab fa-facebook-f"></i> Login with Facebook
                </button>
            </div>
        </div>
    </div>
</div>


{% endblock body %}