<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Forgot Password - ShopKhana</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forgot_password.css') }}">
</head>

<body>
    <h1 class="forgot-password-heading">Forgot Password? No Worry!</h1>
    <form class="password-reset-form" action="{{ url_for('forgot_password') }}" method="POST">
        <label for="email">Please enter your registered Email:</label>
        <input class="email-input" type="email" id="email" name="email" required>
        <button class="reset-button" type="submit">Send Reset Link</button>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul id="fp-flash-messages">
        {% for category, message in messages %}
        <li class="fp-flash-message {{ category }}">
            {{ message }}
            <span class="fp-close-btn">×</span>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}



    <script>
        document.querySelectorAll('.fp-close-btn').forEach(btn => {
            btn.addEventListener('click', function () {
                this.parentElement.style.animation = 'fp-slideOut 0.5s forwards';
                setTimeout(() => this.parentElement.remove(), 500);
            });
        });


    </script>
</body>

</html>